<html>
<head>
    <title>Jobloyal Terms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="font-family: Arial;">
<h1>Conditions G&eacute;n&eacute;rales d'Utilisation de l&rsquo;application &laquo; JobLoyal &raquo;</h1>
<p><strong>&nbsp;</strong></p>
<p>Les Conditions G&eacute;n&eacute;rales d&rsquo;Utilisation d&eacute;crivent ci-apr&egrave;s les modalit&eacute;s d&rsquo;acc&egrave;s
    et d&rsquo;utilisation del&rsquo;application <strong><em>&laquo; JobLoyal &raquo;</em></strong>.</p>
<h1>Nous attirons l&rsquo;attention de tout utilisateur de lire attentivement lesdites conditions.</h1>
<p><strong><em>&laquo; JobLoyal &raquo; </em></strong>se r&eacute;serve le droit de les modifier &agrave; tout moment,
    sans avertissement pr&eacute;alable. LesUtilisateurs et Jobeurs sont invit&eacute;s &agrave; s&rsquo;y r&eacute;f&eacute;rer
    avant tout acc&egrave;s &agrave; l&rsquo;application.</p>
<p>&nbsp;</p>
<p><strong><u>Conditions g&eacute;n&eacute;rales</u></strong></p>
<p><strong>&nbsp;</strong></p>
<ul>
    <li><strong>D&eacute;finition</strong></li>
</ul>
<p><strong><em>Jobeur </em></strong>: il doit s&rsquo;inscrire sur l&rsquo;application et mentionner ses coordonn&eacute;es
    (description de son activit&eacute; professionnelle, sa localisation, une photo de profil, son adresse courriel, son
    num&eacute;ro de t&eacute;l&eacute;phone etc. etc.), informations n&eacute;cessaires &agrave; destination de
    particuliers pour r&eacute;aliser ses prestations de service.</p>
<p><strong><em>Utilisateur </em></strong>: il doit s&rsquo;inscrire sur l&rsquo;application et mentionner ses coordonn&eacute;es
    (son adresse, salocalisation, son adresse courriel, son num&eacute;ro de t&eacute;l&eacute;phone, etc. etc.),
    informations n&eacute;cessaires &agrave;destination de <strong><em>&laquo; JobLoyal &raquo;</em></strong>.</p>
<p>&nbsp;</p>
<h1>2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pr&eacute;sentation g&eacute;n&eacute;rale de l&rsquo;application</h1>
<p><strong>&nbsp;</strong></p>
<p><strong><em>&laquo; JobLoyal &raquo; </em></strong>garantit &agrave; tous les utilisateurs et jobber la gratuit&eacute;
    de l&rsquo;acc&egrave;s &agrave; son application.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>La s&eacute;lection d&rsquo;un Jobeur par l&rsquo;Utilisateur n&rsquo;entraine pas la responsabilit&eacute; de
    <strong><em>&laquo; JobLoyal &raquo;</em></strong>. Ils sontseuls responsables des relations qui en d&eacute;coulent
    entre-eux.</p>
<p>&nbsp;</p>
<p>Il est soulign&eacute; express&eacute;ment &agrave; l&rsquo;attention des Jobeurs qu&rsquo;en aucun cas leur conduite
    doit enfreindre les r&egrave;gles l&eacute;gales, selon le Code des Obligations suisse et violer les dispositions du
    Code du Travail.</p>
<p>&nbsp;</p>
<ul>
    <li><strong>R&ocirc;le de <em>&laquo; JobLoyal &raquo;</em></strong></li>
</ul>
<p><strong><em>&nbsp;</em></strong></p>
<p>L&rsquo;application est un portail mettant en relation les Utilisateurs voulant rechercher un auto- entrepreneur, une
    entreprise, une soci&eacute;t&eacute;, un artisan ind&eacute;pendant pour la r&eacute;alisation d&rsquo;un service
    quelconque.</p>
<p>&nbsp;</p>
<p>Elle permet d&rsquo;offrir de multiples services au domicile priv&eacute; ou professionnel dans un cadre l&eacute;gal
    ets&eacute;curis&eacute;.</p>
<p>Les outils et services d&eacute;velopp&eacute;s par &laquo; JobLoyal &raquo;, sont sa propri&eacute;t&eacute;, et ont
    ainsi uniquement pour vocation de permettre une relation rapide et s&ucirc;re entre les particuliers et les
    intervenantsprofessionnels.</p>
<h1>&nbsp;</h1>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; JobLoyal ne joue pas d&rsquo;autre r&ocirc;le de mise en relation entre les parties,
    de ce fait :</p>
<p>N&rsquo;est ni recruteur, ni employeur, ni agence d&rsquo;int&eacute;rim ou entreprise detravail temporaire ; n&rsquo;exerce
    aucun lien</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>4&nbsp;&nbsp; &ndash; Acc&egrave;s au l&rsquo;application</h1>
<ul>
    <li>L&rsquo;entr&eacute;e en libre acc&egrave;s &agrave; l&rsquo;application est possible pour chaque individu, en
        consid&eacute;rant les d&eacute;penses habituelles li&eacute;es &agrave; la connexion &agrave; l&rsquo;application.
    </li>
</ul>
<p>Toutefois, et sans pr&eacute;judice de l&rsquo;application, les mineurs ne peuvent acc&eacute;der &agrave; l&rsquo;application
    qu&rsquo;avec le consentement tacite des parents ou du tuteur l&eacute;gal, veillant au respect des pr&eacute;sentes
    Conditions g&eacute;n&eacute;rales d&rsquo;Utilisation.</p>
<p>D&rsquo;une mani&egrave;re g&eacute;n&eacute;rale, les cybernautes et adh&eacute;rents d&eacute;clarent approuver les
    caract&eacute;ristiques et les limites inh&eacute;rentes &agrave; l'Internet, et reconnaissent en particulier :</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>5&nbsp;&nbsp; &ndash; Inscription des Membres</h1>
<ul>
    <li>Les personnes physiques majeures sont &eacute;ligibles &agrave; s'inscrire sur l&rsquo;applicationconform&eacute;ment
        &agrave; la loi en vigueur dans leurs pays et disposant enti&egrave;rement de leur capacit&eacute;
    </li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;5.2&nbsp;&nbsp; En confirmant l&rsquo;inscription, l'utilisateur admet avoir inform&eacute; de mani&egrave;re
    factuelle et le plus exactement possible le formulaire d'inscription, &agrave; partir de donn&eacute;es r&eacute;centes
    qui lui sont personnelles. Si des informations exig&eacute;es venaient &agrave; &ecirc;tre modifi&eacute;es au cours
    du temps, le membre est dans l'obligation de les renouveler sur son profil le plus t&ocirc;t possible.</p>
<p>&nbsp;</p>
<p>&nbsp; 5.3&nbsp;&nbsp; La confidentialit&eacute; des logins et mot de passe sont sous la responsabilit&eacute; du
    membre. Il sera seul responsable de l&rsquo;utilisation de ces identifiants, qu&rsquo;elle soit ou non d&eacute;lictueuse.
    Si un Membre observe que ses identifiants sont utilis&eacute;s ill&eacute;gitimement par autrui, il s&rsquo;engage
    &agrave; en aviser sur-le-champJobLoyal &agrave; l'aide d'un ticket dans l'application.</p>
<p>&nbsp;&nbsp;&nbsp; 5.4&nbsp; JobLoyal se r&eacute;serve la libert&eacute; de rejeter l&rsquo;admission de toute
    personne physique quin&rsquo;honorerait pas les pr&eacute;sentes Conditions g&eacute;n&eacute;rales d&rsquo;Utilisation
    ou la loi en vigueur.</p>
<h1>6&nbsp;&nbsp; &ndash; Exclusion d&rsquo;un Membre</h1>
<ul>
    <li>Tout manquement des pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&rsquo;Utilisation par un utilisateur
        pourraaboutir &agrave; son renvoi de l&rsquo;application
    </li>
</ul>
<h1>&nbsp;</h1>
<p>6.2 De fa&ccedil;on globale, les utilisateurs s&rsquo;engagent &agrave; se refuser l'usage de l&rsquo;application
    dans un &nbsp;but :</p>
<p>insultant, calomnieux, attentatoire &agrave; l'ordre public et aux bonnes m&oelig;urs ; portant atteinte &agrave; l&rsquo;intimit&eacute;
    de la vie priv&eacute;ede tiers ;</p>
<p>A aspect directement promotionnel ou constituant une publicit&eacute; interdite au regard desarticles applicables</p>
<p>&nbsp;</p>
<p>Vou&eacute; &agrave; esquiver les r&egrave;gles sociales et fiscales applicables en mati&egrave;re de demandes
    ;inconciliable avec la protection des donn&eacute;es personnelles ;</p>
<p>Constitutif d&rsquo;une diffamation d&rsquo;une firme ou de ses biens, de parasitisme, de concurrence d&eacute;loyale
    ou de plagiat ; portant atteinte aux usages de l&rsquo;application ;</p>
<p>Et plus amplement portant atteinte &agrave; toute l&eacute;gislation ou limitation en vigueur.</p>
<ul>
    <li>En cas de bannissement d&rsquo;un Membre, aucune implication de JobLoyal ne pourra &ecirc;treexpos&eacute;e et
        tout ses services de jobs et/ou Profils jobeur seront d&eacute;truits.
    </li>
</ul>
<h1>7&nbsp;&nbsp;&nbsp; &ndash; Retrait d&rsquo;un Membre</h1>
<p>Tout adh&eacute;rent a la possibilit&eacute;, &agrave; tout instant, de cl&ocirc;turer son compte, sous r&eacute;serve
    du respect desexigences qui sont plac&eacute;es &agrave; sa charge avant cette cl&ocirc;ture par exemple une
    transaction entre un utilisateur et un jobeur&hellip;)</p>
<h1>8&nbsp;&nbsp;&nbsp; &ndash; Frais de l&rsquo;application</h1>
<p>Poster des annonces des service de boulot sur l&rsquo;application est sans frais cependant l&rsquo;utilisateur qui b&eacute;n&eacute;ficiera
    du service en question aura les honoraires du jobber ainsi que les frais de l&rsquo;application &agrave; sa
    charge.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>9&nbsp;&nbsp;&nbsp; &ndash; Modalit&eacute;s de paiement des frais de service</h1>
<p>JobLoyal a le statut de paiement pour Stripe paiement</p>
<ul>
    <li>Les frais de service sont r&eacute;glables comptant en int&eacute;gralit&eacute;, par le biais depaiements s&eacute;curis&eacute;s.</li>
    <li>Le justificatif de l&rsquo;op&eacute;ration financi&egrave;re d&eacute;coule des donn&eacute;es recueillies par
        l&rsquo;organisme depaiement en ligne s&eacute;lectionn&eacute; par
    </li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>10&nbsp; &ndash; Responsabilit&eacute; de JobLoyal</h1>
<ul>
    <li>JobLoyal se d&eacute;cline de toute responsabilit&eacute; par rapport au contenu des jobeur h&eacute;berg&eacute;s
        sur l&rsquo;application &agrave; &nbsp;la proposition et sous la charge des Membres.
    </li>
    <li>La responsabilit&eacute; de JobLoyal ne peut &ecirc;tre sollicit&eacute;e en cas de diff&eacute;rend ou litige
        portantsur la teneur des donn&eacute;es communiqu&eacute;es par les Membres sur l&rsquo;application (textes
        &hellip;) tant que JobLoyal, qui n&rsquo;est que l&rsquo;h&eacute;bergeur des services publi&eacute;s sur l&rsquo;application
        par sesutilisateurs, n'est pas notifi&eacute;e, dans les conditions pr&eacute;vues par la loi, du contenu pr&eacute;sent
        surl&rsquo;application pr&eacute;sent&eacute;e comme &eacute;tant illicite.
    </li>
</ul>
<h1>&nbsp;</h1>
<p>Les Membres qui pensent que le contenu publi&eacute; sur l&rsquo;application par un cybernaute ou un autre Membre
    porte un pr&eacute;judice &agrave; leurs droits ou aux Conditions g&eacute;n&eacute;rales d&rsquo;Utilisation
    peuvent adressers&rsquo;ils le souhaitent un message par ticket sur application.</p>
<ul>
    <li>TR&Egrave;S IMPORTANT : LORSQUE DES MEMBRES S&rsquo;ENTENDENT EN TOUTE LIBERT&Eacute;, &Agrave;PARTIR DES
        SERVICES QU&rsquo;ILS ONT PUBLI&Eacute;S SUR L&rsquo;APPLICATION, SUR LA
    </li>
</ul>
<p>R&Eacute;ALISATION D&rsquo;UNE PRESTATION DE SERVICES, IL SE FORME ENTRE EUX UNCONTRAT AUQUEL JOBLOYAL N&rsquo;EST
    AUCUNEMENT PARTIE.</p>
<p>&nbsp;</p>
<p>LA NON-EX&Eacute;CUTION OU LA MAUVAISE EX&Eacute;CUTION DE CE CONTRAT ENTRE MEMBRES NE REL&Egrave;VE PAS DE LA
    RESPONSABILIT&Eacute; DE JobLoyal, MAIS DE CELLE DE L&rsquo;UTILISATEUR OU DU JOBEUR QUI N&rsquo;A PAS RESPECTE LES
    OBLIGATIONS QUI D&Eacute;COULENT DE L&rsquo;ACCORD QUI EST INTERVENU AVEC SON COCONTRACTANT.</p>
<p>De ce fait :</p>
<ol>
    <li>les Membres du Site d&eacute;clarent exon&eacute;rer JobLoyal de toute responsabilit&eacute; :</li>
</ol>
<p>&nbsp;tenant aux r&eacute;ponses ou &agrave; l&rsquo;absence de r&eacute;ponse obtenue &agrave; la suite de la
    publication des services de Jobeur ou d&rsquo;un Profil jobeur ; li&eacute;e &agrave; la s&eacute;lection ou
    &agrave; la non-s&eacute;lection d&rsquo;un Jobeur pour une annonce de job d&eacute;termin&eacute;e ;</p>
<p>Tenant au bon fonctionnement ou au r&eacute;sultat d&rsquo;une prestation (par exemple le fait qu&rsquo;un Jobeur ne
    sepr&eacute;sente pas, la qualit&eacute; de</p>
<p>Service, le d&eacute;lai de service &hellip;) ; tenant aupaiement d&rsquo;une prestation ;</p>
<p>Li&eacute;e aux v&eacute;rifications de la qualit&eacute; et du fonctionnement de la prestation ;</p>
<p>Ou plus largement en cas de diff&eacute;rend ou de malentendu survenant entre les Membres.</p>
<ol>
    <li>Les Membres sont seuls responsables des pr&eacute;judices et atteintes imm&eacute;diats ou lointains,tangibles
        ou intangibles, caus&eacute;s entre eux, &agrave; JobLoyal et/ou &agrave; tout tiers et s'engagent sp&eacute;cifiquement
        &agrave; indemniser JobLoyal en cas de requ&ecirc;te, dol&eacute;ance et/ou condamnation &agrave; des dommages
        et int&eacute;r&ecirc;ts dontJobLoyal pourrait &ecirc;tre guett&eacute;e ou &ecirc;tre l'objet et/ou qui
        pourrait &ecirc;tre prononc&eacute; contre cette derni&egrave;re, y compris les frais rationnels d'avocats que
        JobLoyal aura pu &ecirc;tre conduite &agrave; exposer, d&egrave;s lors que ces demandes, r&eacute;clamations
        et/ou condamnations auraient pour cause, fondement ou origine des informations communiqu&eacute;es par les
        Membres sur l&rsquo;application ou la r&eacute;alisation de prestations fournies en application d&rsquo;informations
        communiqu&eacute;es par les Membres sur l&rsquo;application.
        <ul>
            <li>JobLoyal d&eacute;cline toute responsabilit&eacute; quant &agrave; la repr&eacute;sentativit&eacute; des
                informations visibles surl&rsquo;application, de m&ecirc;me que quant &agrave; l&rsquo;acc&egrave;s, au
                contenu et &agrave; l&rsquo;utilisation l&rsquo;application Net &eacute;dit&eacute;e par des tiers et
                qui seraient le cas &eacute;ch&eacute;ant accessible depuis l&rsquo;application par le biais de liens
            </li>
            <li>JobLoyal d&eacute;cline toute responsabilit&eacute; pour les pertes d&eacute;tourn&eacute;es, manque
                &agrave; gagner, pertesde profit, perte ou d&eacute;t&eacute;rioration de donn&eacute;es, du fait de la
                navigation sur l&rsquo;application ou de
            </li>
        </ul>
    </li>
</ol>
<p>l&rsquo;utilisation de ses services et n&rsquo;assure pas que sa plateforme soit disponible et pratique encontinuit&eacute;.</p>
<ul>
    <li>JobLoyal d&eacute;cline toute responsabilit&eacute; quant au contenu des promotions qui pourraient, &eacute;ventuellement,
        &ecirc;tre disponibles &agrave; partir d&rsquo;application, ainsi qu&rsquo;aux biens ou services propos&eacute;spar
        leur interm&eacute;diaire.
    </li>
</ul>
<h1>11&nbsp; &ndash; Responsabilit&eacute; des Membres</h1>
<ul>
    <li>Les Membres admettent qu&rsquo;ils sont uniques responsables de l&rsquo;int&eacute;gralit&eacute; descontenus qu&rsquo;ils
        introduisent sur l&rsquo;application (textes, ou autres contenus).
    </li>
    <li>Les Membres admettent qu&rsquo;ils sont seuls responsables du correct accomplissement desobligations qu&rsquo;ils
        prennent envers leur contractant (utilisateur ou Jobeur) pour la
    </li>
</ul>
<p>r&eacute;alisation d&rsquo;un travail.</p>
<h1>12&nbsp; &ndash; Propri&eacute;t&eacute; intellectuelle</h1>
<ul>
    <li>JobLoyal est d&eacute;tenteur des droits de propri&eacute;t&eacute; intellectuelle sur l&rsquo;application jug&eacute;e
        en tant que vecteur des services publi&eacute;s par les jobeur (architecture d&rsquo;application, organisation
        des fonctionnalit&eacute;s, ergonomie, fonctionnalit&eacute;s application, etc.). Toute reprise des &eacute;l&eacute;mentsintrins&egrave;ques
        d&rsquo;application sans agr&eacute;ments pr&eacute;alable et &eacute;crit de JobLoyal est pr&eacute;dispos&eacute;e
        &agrave;constituer une contrefa&ccedil;on et d&rsquo;amener la responsabilit&eacute; civile et/ou p&eacute;nale
        de son
    </li>
    <li>Les Membres s&rsquo;exhortent &agrave; n&rsquo;&eacute;diter sur l&rsquo;application aucune composante (texte,
        ou toute autre cr&eacute;ation ou signe soumis &agrave; des droits de propri&eacute;t&eacute; intellectuelle)
        sans l&rsquo;approbation &eacute;crite etpr&eacute;alable du titulaire des droits.
    </li>
    <li>En tant que de besoin, les Membres conc&egrave;dent &agrave; JobLoyal un permis d'utilisation desdroits de
        propri&eacute;t&eacute; intellectuelle attach&eacute;s aux contenus qu&rsquo;ils pourraient le cas &eacute;ch&eacute;ant
        introduire sur l&rsquo;application. Cette licence mondiale et pour la dur&eacute;e des droits en cause
        inclutnotamment le droit pour JobLoyal de recr&eacute;er, repr&eacute;senter ou adapter lesdits contenus
        pourpermettre leur pr&eacute;sentation optimale sur l&rsquo;application (notamment au regard de sa
        chartegraphique et de ses performances techniques).
    </li>
</ul>
<h1>13&nbsp; &ndash; Donn&eacute;es personnelles</h1>
<ul>
    <li>Donn&eacute;es relatives aux Membres</li>
</ul>
<p>En conformit&eacute; avec les mesures de la l&eacute;gislation informatique et libert&eacute; modifi&eacute;e du 6
    janvier 1978, letraitement des donn&eacute;es &agrave; caract&egrave;re personnelles collect&eacute;es par JobLoyal
    a fait l'objet d'une annonce &agrave; laCommission nationale de l'informatique et des libert&eacute;s (CNIL).</p>
<p>Les donn&eacute;es renseign&eacute;es par les cybernautes pour effectuer&nbsp; leur inscription en tant que Membre
    sont affect&eacute;es &agrave; JobLoyal pour lui permettre d&rsquo;adopter tout dispositif pratique pour l&rsquo;h&eacute;bergement,
    l&rsquo;annonce et le management des services des Membres, la facturation, l&rsquo;&eacute;laboration d&rsquo;analyses
    statistiques, lesservices d&rsquo;individualisation de ses interd&eacute;pendances avec ses Membres (alertes li&eacute;es
    &agrave; la parution de nouvelles annonces, e-mails, notifications&hellip;) Et plus amplement l&rsquo;activit&eacute;
    de l'application. Ces Donn&eacute;es seront incluses dans une base de donn&eacute;es disponible sur JobLoyal et
    hypoth&eacute;tiquement, pour ce qui est des proc&eacute;dures de paiement, au collaborateur bancaire qui pourrait
    participer dans cette proc&eacute;dure.Il est mentionn&eacute; que JobLoyal se r&eacute;serve de faire part &agrave;
    ses Membres ou &agrave; ses Collaborateurs desissues d&rsquo;analyses statistiques n&rsquo;effectuant pas de r&eacute;f&eacute;rence
    imm&eacute;diate &agrave; des donn&eacute;es personnelles.</p>
<p>Le ramassage des informations nominatives des Membres dans le but d'acc&eacute;der aux fonctionnalit&eacute;sd&rsquo;application
    est obligatoire, ces informations restant essentiels pour l&rsquo;identification gob&eacute;e et usager sur l&rsquo;application.
    Le manque de transmission de certaines donn&eacute;es peut ainsi faire imm&eacute;diatement &eacute;chec &agrave;l&rsquo;inscription
    sur l&rsquo;application.</p>
<p>Les Membres prouvant leur identit&eacute; pourront revendiquer que soient, selon les cas, corrig&eacute;s,finalis&eacute;s,
    mettre &agrave; jour, isol&eacute;es ou supprimer les informations &agrave; caract&egrave;re personnel les
    touchant,qui sont erron&eacute;, partiel, ambigu, p&eacute;rim&eacute;, ou dont le ramassage,</p>
<p>l&rsquo;usage, la diffusion ou la sauvegarde est prohib&eacute;e. Ces droits pourront &ecirc;tre pratiqu&eacute;s par
    courrier &eacute;lectronique &agrave; l&rsquo;adresse suivante &ndash; <a href="mailto:contact@jobloyal.ch">contact@jobloyal.ch </a>-
    les Membres devant pr&eacute;ciser les zones,donn&eacute;es et/ou renseignements qu&rsquo;ils d&eacute;sirent
    changer.</p>
<ul>
    <li>Donn&eacute;es des Membres</li>
</ul>
<p>JobLoyal a pris de majeures prudences pour archiver les informations des Membres dans un milieu s&eacute;curis&eacute;.
    Cela &eacute;tant, les Membres sont convi&eacute;s &agrave; aviser sans d&eacute;lai JobLoyal de toute
    reconnaissance d&rsquo;un possible manquement de la s&eacute;curit&eacute; engendrant fortuitement ou de fa&ccedil;on
    illicite la d&eacute;molition, la disparition, la d&eacute;formation, la publication ou l&rsquo;entr&eacute;e non
    permise &agrave; des donn&eacute;es &agrave; caract&egrave;re personnel les concernant.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>En cas d&rsquo;indications s&eacute;rieuses et correspondantes du manquement de la loi informatique et Libert&eacute;s
    par un Membre ou par tout autre tiers, JobLoyal se garde la possibilit&eacute; de transmettre aux autorit&eacute;sexpertes
    toutes les donn&eacute;es personnelles pertinentes.</p>
<p>&nbsp;13.3 Avertissement sur la protection, par les Membres, de leurs donn&eacute;es personnelles JobLoyal attire la
    vigilance des Membres sur le fait :</p>
<p>Que les informations accessibles &agrave; partir de leurs comptes constituent des donn&eacute;espersonnelles ;</p>
<p>Que l&rsquo;usage, par leurs soins et sous leur responsabilit&eacute;, des fonctions de publication d&rsquo;annonces
    qui sont disponibles &agrave; partir de l'application doit &ecirc;tre entam&eacute; loyalement aux dispositions de
    la loi informatique et libert&eacute;s, ce qui implique en particulier de ne pasd&eacute;tourner des donn&eacute;es
    personnelles de tiers ;</p>
<p>&nbsp;</p>
<h1>14&ndash; Lettres d&rsquo;information</h1>
<p>&nbsp; 14.1 En informant leur adresse &eacute;lectronique (e-mail) sur l&rsquo;application, les Membres approuvent
    que JobLoyal leur transmette, &agrave; une p&eacute;riodicit&eacute; et sous un aspect qu&rsquo;elle aura d&eacute;termin&eacute;,
    une lettred&rsquo;information.</p>
<p>&nbsp;</p>
<h1>15- Litiges</h1>
<ul>
    <li>SOUS R&Eacute;SERVE DE L&rsquo;AFFINIT&Eacute; DE LA PR&Eacute;SENTE CLAUSE AU CODE APPLICABLE AULITIGE, TOUT
        LITIGE OPPOSANT JOBLOYAL ET UN
    </li>
</ul>
<p>MEMBRE PORTANT SUR LA VALIDIT&Eacute;, L'INTERPR&Eacute;TATION OU L'EX&Eacute;CUTION DES PR&Eacute;SENTES CONDITIONS
    G&Eacute;N&Eacute;RALES D&rsquo;UTILISATION NON R&Egrave;GLE &Agrave; L&rsquo;AMIABLE SERA SOUMIS AUX TRIBUNAUX
    SUISSES M&Ecirc;ME EN CAS DE PLURALIT&Eacute; DE D&Eacute;FENDEURS OU D&rsquo;APPEL EN INTERVENTION OU EN GARANTIE,
    Y COMPRIS POUR LES PROC&Eacute;DURES D&rsquo;URGENCE OU SURREQU&Ecirc;TE, ET A LA LOI SUISSE.</p>
<ul>
    <li>JobLoyal n'&eacute;tant pas affili&eacute; au contrat pouvant unir l&rsquo;Utilisateur et le Jobeur, elle ne
        peut &ecirc;tre demand&eacute;e pour contribuer aux r&egrave;glements d'un diff&eacute;rend entre deux Membres.
        Elle ne peutqu&rsquo;encourager les Membres touch&eacute;s &agrave; collaborer afin de trouver une solution
        amiable et rapide&agrave; leur d&eacute;saccord.
    </li>
</ul>
<h1>16 - Engagements du JOBEUR</h1>
<p>En choisissant de publier des services de job, le JOBEUR :</p>
<p>S&rsquo;oblige &agrave; n&rsquo;informer que des donn&eacute;es justes et v&eacute;ridiques concernant son identit&eacute;
    ; s&rsquo;engage &agrave; ne se g&eacute;n&eacute;rer qu&rsquo;un compte unique et &agrave; ne pas cr&eacute;er
    decomptes membres pour un tiers ;</p>
<p>S&rsquo;oblige &agrave; pr&eacute;senter le plus minutieusement et le plus pr&eacute;cis&eacute;ment possible le
    contenu du job pour lequel il cherche un Jobeur ; s&rsquo;oblige &agrave; ne demander la concr&eacute;tisation de
    services que dans des contextes convergents avec les r&egrave;gles licites applicables aux services entre
    particuliers oupersonne morale repr&eacute;sentant une entreprise ;</p>
<p>Consens &agrave; recevoir des courriers &eacute;lectroniques (emails) et/ou communiqu&eacute;s internes de
    l'application l&rsquo;avisant de la pr&eacute;sence ou de la cr&eacute;ation de Profils jobeurs en relation avec
    ladite annonce de job ;</p>
<p>S&rsquo;oblige &agrave; &ecirc;tre pr&eacute;sent au site et temps pr&eacute;cis&eacute;s dans la description et
    &agrave; r&eacute;tribuer le Jobeur pourla somme cautionn&eacute;e aussit&ocirc;t apr&egrave;s la concr&eacute;tisation
    du job.</p>
<h1>17 &ndash; Relations Utilisateur / Jobeur</h1>
<p>Pour &ecirc;tre mis en relation avec un Jobeur, utilisateur doit choisir un Jobeur en cliquant sur le bouton &laquo;Choisir
    &raquo; pr&eacute;sent sur le Profil jobeur r&eacute;pondant &agrave; son service de job. Par la suite et apr&egrave;s
    acceptation du r&egrave;glement de la prestation par carte bancaire, l&rsquo;utilisateur poss&egrave;dera l&rsquo;occasion
    de communiquer instantan&eacute;ment avec le Jobeur par son num&eacute;ro de contact qui s'affiche sur l&rsquo;application.</p>
<p>JobLoyal attire la vigilance des Utilisateurs sur le fait que choisir un Jobeur pour r&eacute;aliser la prestation de
    services est une obligation ferme et irr&eacute;vocable d&rsquo;appointer le Jobeur. Cette acceptation ferme se
    concr&eacute;tise d&egrave;s l&rsquo;instant o&ugrave; l&rsquo;utilisateur clique sur le bouton de la commande pr&eacute;vu
    &agrave; cet effet.</p>
<p>.Le Jobeur a l&rsquo;&acirc;ge l&eacute;gal pour accomplir cette prestation de services ; le Jobeur est qualifi&eacute;
    pour effectuer cette prestation de services</p>
<h1>18 &ndash; Frais de publication</h1>
<p>JobLoyal ne facture aucuns frais de publication du service au Jobber sur l&rsquo;application.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<ul>
    <li><strong>&ndash; Formalit&eacute;s li&eacute;es au paiement de la prestation de services par le Jobber</strong>
    </li>
</ul>
<h1>&nbsp;</h1>
<p>LA TVA AINSI QUE TOUT AUTRE IMP&Ocirc;T OU TAXE EN LIEN AVEC LA R&Eacute;MUN&Eacute;RATION D&rsquo;UNJOBEUR AVEC
    LEQUEL L&rsquo;UTILISATEUR AURAIT &Eacute;T&Eacute; MIS EN RELATION &Agrave; PARTIR D&rsquo;UN SERVICE PUBLI&Eacute;
    PAR LES MEMBRES SUR L&rsquo;APPLICATION SONT A LA CHARGE D&rsquo;UTILISATEUR. LEJOBBEUR EST EN DE PLUS RESPONSABLE
    DE TOUTE D&Eacute;CLARATION AUPR&Egrave;S DE L&rsquo;URSSAF ET/OU DE TOUTES LES AUTRES ADMINISTRATIONS OU</p>
<p>AUTORIT&Eacute;S COMP&Eacute;TENTES AU TITRE DE L&rsquo;EMPLOI ET DE LA R&Eacute;MUN&Eacute;RATION D&rsquo;UNPARTICULIER
    AVEC QUI IL AURA &Eacute;T&Eacute; MIS EN RELATION &Agrave; PARTIR D&rsquo;UN SERVICE PUBLI&Eacute; PARLES MEMBRES
    SUR L&rsquo;APPLICATION.</p>
<p>JobLoyal ne sera &agrave; m&ecirc;me en aucun cas &ecirc;tre tenue responsable d&rsquo;une d&eacute;ficience du
    jobbeurs etUtilisateur dans ses devoirs d&eacute;claratifs.</p>
<p>&nbsp;</p>
<h1>20 - Engagements du Jobeur</h1>
<p>En adoptant de publier un Profil jobeur, le Jobeur :</p>
<p>S&rsquo;oblige &agrave; n&rsquo;informer que des donn&eacute;es pr&eacute;cises et factuelles quant &agrave;
    sonidentit&eacute; ; s&rsquo;oblige &agrave; ne concevoir qu&rsquo;un compte unique et &agrave; ne pas cr&eacute;er
    de comptes membres pour autrui ; s&rsquo;oblige &agrave; pr&eacute;senter le plus minutieusement etle plus pr&eacute;cis&eacute;ment
    possible son Profil jobeur</p>
<p>Approuve de recueillir des courriers &eacute;lectroniques (emails) et/ou communiqu&eacute;s internes du Site le pr&eacute;venant
    de la pr&eacute;sence ou de l&rsquo;&eacute;mergence d&rsquo;annonces de jobs en relation avec ledit Profil jobeur
    ;</p>
<p>S&rsquo;oblige &agrave; n&rsquo;offrir l&rsquo;accomplissement de services que dans des circonstances concordantes
    avecles r&egrave;gles l&eacute;gales applicables aux services &agrave; la personne ;</p>
<p>Est dans l&rsquo;obligation d&rsquo;informer ses coordonn&eacute;es bancaires.</p>
<p>S&rsquo;engage, s&rsquo;il est d&eacute;sign&eacute; par un Utilisateur, &agrave; &ecirc;tre pr&eacute;sent au site
    mentionn&eacute; dans la description de l&rsquo;utilisateur et &agrave; apporter le service n&eacute;cessaire en
    bonne entente avec la description qui en a &eacute;t&eacute; faite. S&rsquo;oblige &agrave; consulter et approuver
    ses obligations en acceptant une charte de bonne conduite sur l&rsquo;application.</p>
<p>Un jobeur qui ne respecterait pas ses obligations vis-&agrave;-vis des utilisateurs et de l&rsquo;application peut
    voir son compte interrompu voir m&ecirc;me d&eacute;truit afin de sauvegarder l&rsquo;int&eacute;r&ecirc;t g&eacute;n&eacute;ral
    et les relations entre les 2 typologies de membre utilisateur et jobeur.</p>
<h1>20 &ndash; TVA et formalit&eacute;s li&eacute;es &agrave; la fourniture de la prestation de services par le
    Jobeur</h1>
<p>LE JOBEUR EST SEUL RESPONSABLE DE TOUTE D&Eacute;CLARATION AUPR&Egrave;S DEL&rsquo;ADMINISTRATION FISCALE ET DES
    AUTORIT&Eacute;S COMP&Eacute;TENTES DU MONTANT DE SES REVENUS ISSUS DE PRESTATIONS DE SERVICES QU&rsquo;IL AURA
    ACCOMPLIES POUR LECOMPTE DE PARTICULIERS &Agrave; PARTIR D&rsquo;ANNONCES PUBLI&Eacute;ES PAR LES</p>
<p>MEMBRES SUR L&rsquo;application.</p>
<p>JobLoyal ne peut en aucun cas &ecirc;tre consid&eacute;r&eacute; comme fautif d&rsquo;une d&eacute;ficience du Jobeur
    dans sesobligations d&eacute;claratives.</p>
<h1>21 &ndash; Recommandation</h1>
<h1>&nbsp;</h1>
<p>Afin de rendre la s&eacute;lection de jobeurs la plus ad&eacute;quate possible sur l&rsquo;application a mis en place
    unsyst&egrave;me de crit&egrave;re et d&rsquo;estimation.</p>
<p>En devenant Membre, les jobeurs acceptent explicitement ce syst&egrave;me de r&eacute;f&eacute;rence et d&rsquo;&eacute;valuation
    par les Utilisateurs, &eacute;tant soulign&eacute; que JobLoyal demande aux Utilisateurs de ne pas tenir de propos
    insultants, d&eacute;nigrants, diffamatoires ou tout autre propos punissable &agrave; l&rsquo;encontre d&rsquo;un
    Jobeur avec lequel il serait &eacute;ventuellement en querelle ou en diff&eacute;rend, sous peine d&rsquo;obtenir
    une alerte de la part de JobLoyal ou d&rsquo;&ecirc;tre strictement et tout bonnement banni du
    l&rsquo;application.</p>
<h1>Conditions particuli&egrave;res &agrave; la cr&eacute;ation d'un Profil jobeur</h1>
<h1>1 &ndash; Objet du Profil jobeur</h1>
<p>Les Profils jobeurs publi&eacute;s sur l&rsquo;application par le Jobeur se doivent d'&ecirc;tre en phase avec lal&eacute;gislation
    en vigueur, et sp&eacute;cifiquement, mais non exclusivement avec les mesures des articles L.5331-1 et suivants sur
    la distribution et la promotion des propositions et requ&ecirc;tes d&rsquo;emploi.</p>
<h1>2 &ndash; Profils jobeurs interdits</h1>
<p>Il est interdit de publier sur le Site des Profils jobeurs contradictoires aux mesures r&egrave;glementaires,
    &agrave;</p>
<p>l&rsquo;ordre public, aux m&oelig;urs solides ou aux pr&eacute;sentes Conditions g&eacute;n&eacute;rales d&rsquo;Utilisation.</p>
<h1>3 &ndash; Lieu du job</h1>
<p>Le Jobeur s&rsquo;oblige &agrave; faire l&rsquo;essentiel pour se rendre au lieu indiqu&eacute; par l&rsquo;application
    de job, par sespropres moyens (sauf accord contraire entre les Membres).</p>
<h1>4- Prix</h1>
<p>Le Jobber fixe le tarif de l&rsquo;indemnisation et acquitt&eacute; au Jobeur en Francs.</p>
<h1>5&nbsp;&nbsp; - Corrections</h1>
<p>JobLoyal se r&eacute;serve le droit de proc&eacute;der &agrave; tout changement orthographiques, syntaxiques
    etgrammaticales &agrave; tout contenu &eacute;diter sur l&rsquo;application, si cela s&rsquo;av&egrave;re n&eacute;cessaire,
    sans que cela pour autant n&rsquo;alt&egrave;re la nature du Profil jobeur.</p>
<p>JobLoyal se r&eacute;serve le droit de notifier ou non ces modifications.</p>
<p>&nbsp;</p>
</body>
</html>
